html,
body {
  margin: 0;
}

.app {
  display: grid;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #000;

  & .map-layer {
    grid-area: 1 / 1;
    position: relative;
  }

  & .hud-layer {
    grid-area: 1 / 1;
    position: relative;
    pointer-events: none; /* re-enable on interactive children */
  }
}